# personal
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
.vs

# user
.vscode/sftp.json
.vscode/ftp-sync.json

# team (keep)
!.vscode/
!.vscode/extensions.json
!.vscode/settings.shared.json
!.vscode/launch.shared.json