:root {
  --primary-color: #3ca070;
  --secondary-color: #364b41;
  --highlight-color: #dfac58;
  --subtle-color: #565656;
  --background-color: #1b1b1b;
  --background-color-2 : #121313;
  --background-color-3 : #060707;
  --text-color: #cbcbcb;
  --shadow-color: #1b1b1b60;
  --glass-color: #364b4130;
  --glass-color-2: #17171730;
  --glass-border-color: #364b4180;
  --glass-border-color-2: #70707080;
  --glass-glow: 0 0 0.7rem 0.1rem var(--highlight-color), 0 0 1.2rem 0.4rem transparent;
  --text-shadow: 1px 1px 4px var(--shadow-color);
  --button-box-shadow: 0 0 0 0.1rem var(--highlight-color), 0 0 0 0.25rem transparent;
  --button-box-light: 0 0 0 0.1rem var(--primary-color), 0 0 0 0.25rem transparent;
  --bs-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.1);
  --bs-box-shadow-lg: 0 8px 24px rgba(0, 0, 0, 0.2);
}


body {
  background-image: linear-gradient(to right, var(--background-color), var(--background-color-2), var(--background-color-3));
  color: var(--text-color);
  margin-bottom: 0px;
  font-family: 'Courier New', Courier, monospace;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1 { font-size: 3rem !important; color: var(--highlight-color); }
h2 { font-size: 2rem !important; }
h3 { font-size: 1.75rem !important; }
h4 { font-size: 1.5rem !important; }
h5 { font-size: 1.25rem !important; }
h6 { font-size: 1rem !important; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.text-large {font-size: 1.75rem;}


.btn {
  background-color: var(--primary-color);
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: var(--button-box-shadow);
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--highlight-color);
  color: var(--background-color-2);
  border-color: var(--background-color-2);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--highlight-color);
  color: var(--text-color);
}

.btn-primary:focus, .btn-primary:active:focus {
  color: var(--background-color-2);
  box-shadow: var(--button-box-light);
  background-color: var(--highlight-color);
}

.btn-outline {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: transparent;
}

.btn-outline:hover {
  color: var(--text-color);
  border-color: var(--text-color);
}

.btn-outline:focus, .btn-outline:active:focus {
    box-shadow: var(--button-box-shadow);
    color: var(--text-color);
}

.navbar-brand {
  color: var(--highlight-color) !important;
}

.nav-link {
  color: var(--primary-color) !important;
  text-shadow: var(--text-shadow)
}

a {
  color: var(--primary-color) !important;
  text-shadow: var(--text-shadow)
}

a:hover {
  color: var(--secondary-color) !important;
}

a:focus {
  color: var(--highlight-color) !important;
}

p {
    text-shadow: var(--text-shadow)
}

.no-shadow {
  text-shadow: none;
}

.border-bottom, .border-top {
  border-color: var(--secondary-color) !important;
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-highlight {
  color: var(--highlight-color);
}

.background-fill {
  background-color: var(--background-color);
}

.glass-theme {
  background-color: var(--glass-color);
  border-color: var(--glass-border-color) !important;
  color: var(--text-color);
}

.glass-theme:hover {
  background-color: var(--glass-color);
  border-color: var(--highlight-color) !important;
  box-shadow: var(--glass-glow);
}

.glass-theme-2 {
  background-color: var(--glass-color-2);
  border-color: var(--glass-border-color-2) !important;
  color: var(--text-color);
}

.glass-theme-2:hover {
  background-color: var(--glass-color-2);
  border-color: var(--highlight-color) !important;
  box-shadow: var(--glass-glow);
}

.glass-fill {
  backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(10px) saturate(100%);
  border: 1px solid;
}

.glass-fill div {
  pointer-events: none;
}

.tiny-font {
  font-size: 6px;
}

.hatch {
    background-image:
    repeating-linear-gradient(
      -45deg,
      var(--primary-color) 0px,
      var(--primary-color) 1px,
      transparent 1px,
      transparent 50%
    );
    background-size: 15px 15px;
}

.hatch-secondary {
    background-image:
    repeating-linear-gradient(
      -45deg,
      var(--secondary-color) 0px,
      var(--secondary-color) 1px,
      transparent 1px,
      transparent 50%
    );
    background-size: 15px 15px;
}

.hatch-subtle {
    background-image:
    repeating-linear-gradient(
      -45deg,
      var(--subtle-color) 0px,
      var(--subtle-color) 1px,
      transparent 1px,
      transparent 50%
    );
    background-size: 15px 15px;
}

.crosshatch {
  background-image:
    repeating-linear-gradient(
      45deg,
      var(--primary-color) 0px,
      var(--primary-color) 1px,
      transparent 1px,
      transparent 50%
    ),
    repeating-linear-gradient(
      -45deg,
      var(--primary-color) 0px,
      var(--primary-color) 1px,
      transparent 1px,
      transparent 50%
    );
  background-size: 10px 10px;
}

.dither {
  position: relative;
}

.dither::after {
  content: ''; position: absolute; inset: 0;
  z-index: -1; pointer-events: none;
  background-color: transparent;
  background-image:
    radial-gradient(circle, var(--secondary-color) 3px, transparent 3px),
    radial-gradient(circle, var(--secondary-color) 3px, transparent 3px);
  mask-image: linear-gradient(230deg, transparent, transparent, black);
  background-size: 15px 15px;
  animation: scroll-background 5s linear infinite;
}

@keyframes scroll-background {
  from { background-position: 0 0 }
  to { background-position: 15px -15px }
}

.png-overlay-primary {
  overflow: hidden;
}

.png-overlay-primary img {
  filter:drop-shadow(0px 1000px 0 var(--primary-color));
  transform: translateY(-1000px);
}

.png-overlay-highlight {
  overflow: hidden;
}

.png-overlay-highlight img {
  filter:drop-shadow(0px 1000px 0 var(--highlight-color));
  transform: translateY(-1000px);
}

.png-overlay-subtle {
  overflow: hidden;
}

.png-overlay-subtle img {
  filter:drop-shadow(0px 1000px 0 var(--text-color));
  transform: translateY(-1000px);
}

.card-img-top {
  width: 100%;
  height: 10vh;
  object-fit: cover;
}

.img-invert img {
  filter: invert(100%);
}

.img-fill-gridbox {
  width:100%; height:100%; display:block; object-fit:contain; pointer-events:none; z-index:-1;
}

.index-grid {
  display:grid; gap: 2px; 
  height: 100%; width: 100%;
  max-height: 100%; max-width: 100%;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr ;
  grid-template-rows: 0.1fr 0.6fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.1fr;
}
