<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - artobium</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/artobium.styles.css" asp-append-version="true" />
</head>

<body>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
            document.querySelectorAll('.scroll-x').forEach(el => {
                el.addEventListener('wheel', function (e) {
                    e.preventDefault();
                    this.scrollLeft += e.deltaY * 0.7;
                }, { passive: false });
            });
    </script>
    <script>
            window.addEventListener('scroll', function () {
                const scrollY = window.scrollY;
                document.querySelectorAll('.parallax').forEach(el => {
                    const speed = el.dataset.speed || 0.5;
                    el.style.transform = `translateY(${scrollY * speed}px)`;
                });
            });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

@*
    <div class="d-flex flex-column flex-shrink-0 p-4 dither" style="width: 250px; height: 100vh; position:sticky; top:0;">
        <a asp-area="" asp-page="/Index" class="navbar-brand png-overlay-primary">
            <img src="~/images/logo.png" alt="ARTOBIUM" class="img-fluid"/>
        </a>
        <ul class="nav nav-pills flex-column mb-auto mt-4">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Index"><h5>Home</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Index"><h5>About me</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Index"><h5>Projects</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Index"><h5>Skills</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Index"><h5>Contact</h5></a>
            </li>
        </ul>
    </div>
    *@