@model IndexModel.WorkItem
@inject IndexModel.Localizer Loc

<div class="background-fill p-4 rounded overflow-scroll" style="height: 100vh;">
    <button onclick="closeOverlay()" class="btn glass-theme glass-fill" style="position:absolute; top:1rem; right:1rem;">✕</button>
    <h2>@Loc[Model.header]</h2>
    <p>@Loc[Model.subtitle]</p>
    <hr />
    <span>@Loc[Model.fulltext]</span>
</div>