@page
@model ArtAndDesignPageModel
@{
    ViewData["Title"] = "Art & Design";
}

<!--name and subtitle box-->
<div class="m-4" style="grid-column: 5 / 11; grid-row: 2 / 3">
    <h1 class="text-uppercase pl-3">Art & Design</h1>
    <hr class="color-highlight" />
</div>

<div class="" style="overflow:scroll; grid-column: 2 / 10; grid-row: 3 / 10;">
    <div class="background-fill" style="height: 200vh;">

    </div>
</div>