@page
@model DevelopmentPageModel
@{
    ViewData["Title"] = "Development";
}

<!--name and subtitle box-->
<div class="m-4 mx-5" style="grid-column: 7 / 10; grid-row: 2 / 7; z-index: 4;">
    <h1 class="text-uppercase pl-3">Software Development</h1>
    <hr class="color-highlight" />

    <div class="d-flex position-relative" style="height:100%; min-width: 15rem;">
        <div class="position-absolute secondary-fill top-0 start-0" style="height: 2rem; width: 2rem;z-index:-1;"></div>
        <div class="d-flex flex-column flex-row flex-grow-1 m-2 p-4 glass-theme glass-fill justify-content-center align-items-center">
            <span></span>

        </div>
        <div class="position-absolute secondary-fill end-0 bottom-0" style="height: 2rem; width: 2rem;z-index:-1;"></div>
    </div>
</div>

<div class="background-fill scroll-y me-5 development-grid container" style="grid-column: 1 / 7; grid-row: 1 / 12;">
    <div class="row">
        <div class="col">
            SELECT * FROM experiences;
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            front-end
        </div>
        <div class="col">
            back-end
        </div>
        <div class="col">
            data
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            img
        </div>
        <div class="col">
            img
        </div>
        <div class="col">
            img
        </div>
    </div>
    <div class="row">
        <div class="col">
            EcoOnline
        </div>
    </div>
    <div class="row">
        <div class="col">
            - Almego
        </div>
        <div class="col">
            jsp
        </div>
        <div class="col">
            img
        </div>
        <div class="col">
            img
        </div>
    </div>
    <div class="row">
        <div class="col">
            netcompany
        </div>
    </div>
    <div class="row">
        <div class="col">
            - Danish Vehicle Register
        </div>
        <div class="col">
            jsp
        </div>
        <div class="col">
            img
        </div>
        <div class="col">
            img
        </div>
    </div>
        <div class="row">
        <div class="col">
            - Business Intelligence Team
        </div>
        <div class="col">
            jsp
        </div>
        <div class="col">
            img
        </div>
        <div class="col">
            img
        </div>
    </div>
</div>