@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center dither">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (!Model.Products.Any())
{
    <p>No products found.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Products)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Description</td>
                    <td>@p.Price.ToString("C")</td>
                    <td>@p.Stock</td>
                </tr>
            }
        </tbody>
    </table>
}
