@page
@model IndexModel
@{
    ViewData["Title"] = "Tobias - Dev & Artist";
}


<div class="overflow-scroll" style="grid-column: 1/span 10;grid-row: 1/span 12;">
    <div class="d-flex flex-row flex-grow-1 dither h-100">
        <section class="index-grid p-0 m-0 w-100 h-100">

        </section>
    </div>
    <div class="d-flex flex-row flex-grow-1 background-fill h-100">
        <section class="index-grid p-0 m-0 w-100 h-100">
                    About me
        - Creating new experiences and integrating ideas
        - Gathering knowledge to become an excellent generalist
        </section>
    </div>
    <div class="d-flex flex-row flex-grow-1 dither h-100">
        <section class="index-grid p-0 m-0 w-100 h-100">
        Dev experience
        - General words about me as dev
        - Table view of places of work + education
        - Project antinomia
        </section>
    </div>
    <div class="d-flex flex-row flex-grow-1 background-fill h-100">
        <section class="ten-by-ten-grid p-0 m-0 w-100 h-100">
                    Art, design & more
        - pencil and paper
        - digital design
        Storytelling
        - writing and worldbuilding
        Music
        - link to music
        </section>
    </div>
    <div class="d-flex flex-row flex-grow-1 dither h-25">
        <section class="index-grid p-0 m-0 w-100 h-100">

        </section>
    </div>
</div>

