@page
@model MorePageModel
@{
    ViewData["Title"] = "More";
}

<!--name and subtitle box-->
<div class="m-4" style="grid-column: 5 / 11; grid-row: 2 / 3">
    <h1 class="text-uppercase pl-3">Personal projects and other skills</h1>
    <hr class="color-highlight" />
</div>